<%#= react_component("HomeMenu") %>
<div class="home">
  <section id="section1">
      <div id="sliderIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_pack_tag 'placeholder1.jpg', class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_pack_tag 'placeholder2.jpg', class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_pack_tag 'placeholder3.jpg', class: "d-block w-100" %>
            </div>
          </div>
      </div>
  </section>
  <%= react_component("HomeEventCode") %>
</div>
